body {
  background: black;
}

.mdc-theme--dark {
  color: white;
}

.hidden {
  display: none;
}

.pointer {
  cursor: pointer;
}

.content {
  display: flex;
  padding-top: 30px;
  flex-direction: column;
}

.content .row {
  display: flex;
  flex-direction: row;
}

.content .column {
  display: flex;
  flex-direction: column;
}

.content.center {
  width: 80%;
  margin: auto auto;
  justify-content: center;
}

.content.center>* {
  justify-content: center;
}

.content .column>checkbox,
.content .column>button {
  margin-top: auto;
  margin-bottom: auto;
}

.content button {
  margin-left: 15px
}

.noselect-labels label {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
  supported by Chrome and Opera */
}

.invalid {
  background-color: rgb(255, 159, 80);
}
