body {
  background: black;
}

.mdc-theme--dark {
  color: white;
}

.hidden {
  display: none;
}

.pointer {
  cursor: pointer;
}

.content {
  display: flex;
}

.content .row {
  display: flex;
  flex-direction: row;
}

.content .column {
  display: flex;
  flex-direction: column;
}
